# original name: .env.local

# Stripe
STRIPE_API_KEY=secret-key
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_WEBWOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# FaubaDB
FAUNADB_KEY=

# Prismic CMD
PRISMIC_ENDPOINT=
PRISMIC_ACCESS_TOKEN=